body{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Open Sans', sans-serif;
}


.hero-section {
  text-align: right;
  background-image: url('../img/carousel1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 10rem ;
  font-family: 'Quicksand', sans-serif;
}
