body{
  font-family: 'Quicksand', sans-serif;
}

.navbar{
  background-color: #660066;
}

.hero-section {
  text-align: right;
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 20.25rem 3.125rem;
}
